# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [2]:
nums = list(range(1,5))
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [3]:
# Method 1 

nums.remove(3)

nums

[1, 2, 4]

In [4]:
# Method 2
nums = [1,2,3,4]

nums.pop(3)

4

In [5]:
# Method 3
nums = [1,2,3,4]

del nums[2]

nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [9]:
lst = [2,3,4]

lst1=[0]

lst1.extend(lst)

lst1

[0, 2, 3, 4]

In [105]:
lst = [2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [106]:
lst.insert(2,"two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [16]:
# CODE HERE
phrase = "Don't panic!"

list3 = list(phrase)

*convert into list*

In [17]:
list3

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [21]:
for i in list3:
    if(i in ["'","!"]):
        list3.remove(i)
list3

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [24]:
# CODE HERE

list4 = ["p","a","n","D"]
for i in list3:
    if(i in list4):
        list3.remove(i)
list3.extend(list4)
list3

['o', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [28]:
# CODE HERE
list6 = ['p', 'a', 'n', 'D', 'a']

In [31]:
s = "".join(list6)
s

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [ ]:
# CODE HERE

In [42]:
t = (31,24,35,85)
print(t)
print(type(t))

(31, 24, 35, 85)
<class 'tuple'>

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [43]:
# CODE HERE
list7 = list(t)
list7.remove(35)
list7

[31, 24, 85]

(31, 24, 85)

**Extent** tuple (85,19)

In [44]:
# CODE HERE
t = (85,19)
list7.extend(t)
tuple(list7)

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [108]:
# CODE HERE
tpl = ('i','n''n','0')
'i' in tpl

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [51]:
# CODE HERE
list8 = ['Hello',100,[],'innomatics']
list8[2] = [200]
list8

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [57]:
# CODE HERE
tpl = ("Innomatics")
list9 = list()
for i in tpl[::-1]:
    list9.append(i)
tuple(list9)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [109]:
tpl = ("Innomatics")
s = tpl[::-1]
list9 = list(s)
list9

['s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I']

In [58]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [63]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
list1 = list()
for i in tpl:
    list1.append(i+(100,))
    
list1

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

In [73]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(tpl)):
    tpl[i]=tpl[i]+(100,)
    
tpl

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

In [83]:
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(tpl)):
    tpl[i]=tpl[i]+(100,)
    
tpl

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [85]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
temp = list()
for i in range(len(tpl)):
    temp = list(tpl[i])
    del temp[len(temp)-1]
    tpl[i]=tuple(temp)+(100,)
    
tpl

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [119]:
# CODE HERE
s="5 2 3 6 6 5"
mylist = list(set(s))

mylist.sort(reverse=True)
print(mylist)
print(mylist[1])

['6', '5', '3', '2', ' ']
5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [128]:
# CODE HERE
list1 = [12,24,35,70,88,120,155]
removedList = [num for i,num  in enumerate(list1) if i not in [0,4,5]]
removedList

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [133]:
tpl = (1,2,3,4,5,6,7,8,9,10)

x = tpl[:len(tpl)//2]
y = tpl[len(tpl)//2:]

print(x,y)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [134]:
tpl = (1,2,3,4,5,6,7,8,9,10)

for i in range(0, len(tpl)//2):
    print(tpl[i],end=" ")
print()
for i in range(len(tpl)//2,len(tpl)):
    print(tpl[i],end=" ")

1 2 3 4 5
6 7 8 9 10

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [137]:
def even_Filter(num):
    if(num%2 == 0):
        return num
    
tpl = (1,2,3,4,5,6,7,8,9,10)

tpl1 = tuple(filter(even_Filter,tpl))
    
print(tpl1)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution
	List	Tuples
1.) List is mutable.                                               Tuples are immutable
2.) List iteration is slower and time-consuming.                   Tuples iteration is faster.
3.) List is performed well in insertion and deletion operations.   Tuples are performed well in accessing elements operations.
4.) List takes more memory.                                        Tuples take less memory.
5.) Lists are many built-in methods                                Tuples are less in-built methods.
6.) In List Error is more likely to happen.                        In Tuples Error hardly takes place.
7.) Syntax: list1=[1,2,3,4,5,6]                                    tuple = (1,2,3,4,5,6)

### 2. Explain the difference between append() and extend() with examples

In [11]:
# Solution
#The append() method adds a single element to the end of a list.
#The extend() method adds multiple items.

#Example:

list1 = [1,2,3] 

list2 = [4,5]

#appendedList = list(list1.append(list2))## this will throw a TypeError

# To add these we need to a iteration /use append multiple times 

for i in list2:
    list1.append(i)
    
print(list1)

# Use extend directly

list1 = [1,2,3] 

list2 = [4,5]

list1.extend(list2)

print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

### 3. Explain the difference between pop() and remove() with examples

In [16]:
# Solution
#remove() delete the matching element
# pop() removes and returns deleted value for the given index

list1 = [1,2,3] 

list1.remove(1)

print(list1)

list1 = [1,2,3] 

print(list1.pop(1))
print(list1)

[2, 3]
2
[1, 3]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)