# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# CODE HERE

In [2]:
person1 = {'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

print(person1)

{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [4]:
# CODE HERE
print(list(person1.keys()))

['Gender', 'Location', 'Name', 'Occupation']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [5]:
# CODE HERE
person1.pop("Location")

print(person1)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [6]:
# CODE HERE
person2 = {'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [7]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [9]:
# CODE HERE
print("==================== person1 ====================\n",person1)
print("==================== person2 ====================\n",person2)

==================== person1 ====================
 {'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
 {'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [19]:
# CODE HERE
dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [14]:
dict1.pop(1) ## removes the element with given key, returns the value of it

1

In [15]:
dict1.popitem() ## removes the last items and returns the removed item

(7, 49)

In [ ]:
del dict1[2] ## delete the items from dictionary with the given key
dict1

In [21]:
dict1.clear() ### Deletes all elements
dict1

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [24]:
# CODE HERE

dict2 = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

values = list(dict2.values())

values.sort()

print(values)

[0, 1, 9, 25, 49, 81]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [27]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 } 
dict2 = { 'b': 3, 'c': 4 } 
dict3 = { 'c': 5, 'd': 6 }
print(dict1 | dict2 | dict3)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

In [28]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [30]:
# CODE HERE
sample_dict['emp3']['salary'] = 8500

sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

In [35]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

for key in sample_dict.keys():
    for k,y in sample_dict[key].items():
        if(y == 'Charan'):
               sample_dict[key]['salary'] = 8500
                
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key â€˜historyâ€™ from the below dict**

In [39]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [41]:
# CODE HERE
print(sampleDict["class"]["student"]["marks"]["history"])

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [45]:
# CODE HERE
info ={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

info['Area'] = info.pop("Location")
info

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)

In [60]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
name = input("Enter your name : ")

pwd = input("Enter your password : ")

def update():
    if(flag.upper() == "Y"):
        database[name] = pwd
        print("We updated our list!!")
    else:
        print("We haven't not opted to update your password!!")
        
        
if(name in database.keys()):
    if(str(database[name]) == pwd):
        print("Hello, ",name)        
    else:
        flag = input("your password didn't match!!! Do you need to update your password with the given one[Y/N]?")
        update()
else:
    flag = input("You are not in our list, Shall I add you[Y/N]?")
    update()

Enter your name : ram
Enter your password : 1234
Hello,  ram

In [59]:
database

{'ram': 'ram', 'raghu': 5678, 'kanav': 1357}