# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [1]:
# CODE HERE
print("My name is Innomatics")

My name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [4]:
# WRITE HERE
# variable is a placholder which hold some value by assigning a value to it
# where we can reuse it in our logic and also can chnage the value of a variable through out the program

In [6]:
# Code Here
a = 1
b = "Hello"
c = True
d = 2.4
e = "8"

print("{0} is a type of :".format("a"),type(a))
print("{0} is a type of :".format("b"),type(b))
print("{0} is a type of :".format("c"),type(c))
print("{0} is a type of :".format("d"),type(d))
print("{0} is a type of :".format("e"),type(e))

a is a type of : <class 'int'>
b is a type of : <class 'str'>
c is a type of : <class 'bool'>
d is a type of : <class 'float'>
e is a type of : <class 'str'>

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [10]:
# CODE HERE
width = 17
height = 12.0
delimiter = "."

a = width/2
b = width/2.0
c = height/3
d = 1 + 2 * 5
e = delimiter * 5
print("width/2 = {0} and type is of {1} ".format(a, type(a)))
print("width/2.0 ={0} and type is of {1} ".format(b, type(b)))
print("height/3 = {0} and type is of {1} ".format(c, type(c)))
print("1 + 2 * 5 = {0} and type is of {1} ".format(d, type(d)))
print("delimiter * 5 = {0} and type is of {1} ".format(e, type(e)))

width/2 = 8.5 and type is of <class 'float'>
width/2.0 =8.5 and type is of <class 'float'>
height/3 = 4.0 and type is of <class 'float'>
1 + 2 * 5 = 11 and type is of <class 'int'>
delimiter * 5 = ..... and type is of <class 'str'>

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [11]:
#CODE HERE
first = 100
second = 200

In [12]:
print ("first number is : ",first)
print("second number is : ",second)
print("Addition of two numbers are : ",first+second)

first number is :  100
second number is :  200
Addition of two numbers are :  300

> `Question:` Add your first name and second name

In [13]:
# CODE HERE
first_name = "Sravanthi"
second_name = "Kotha"

In [15]:
print ("My first name is : ",first_name)
print("My second name is ",second_name)
print("My full name is : ",first_name+ " " +second_name)

My first name is :  Sravanthi
My second name is  Kotha
My full name is :  Sravanthi Kotha

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [12]:
# CODE HERE

In [16]:
print("data type of 10 - ",type(10))
print("data type of '10' - ",type('10'))
print("data type of True - ",type(True))
print("data type of 10.5 - ",type(10.5))

data type of 10 -  <class 'int'>
data type of '10' -  <class 'str'>
data type of True -  <class 'bool'>
data type of 10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [17]:
# CODE HERE
num_int = 123
num_str = "456"

In [18]:
print("Addition of 123 and 456 is :", num_int+int(num_str) )

Addition of 123 and 456 is : 579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [19]:
# CODE HERE
r = 5
volume = 4/3*22/7*r**3

print("Volume of a sphere with radius 5 is : ",volume)

Volume of a sphere with radius 5 is :  523.8095238095239

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [20]:
# CODE HERE

cover_price = 24.95

discounted_Price = cover_price*0.6

price_firstCopy = discounted_Price + 3

price_59Copies = (discounted_Price + .75)*59

print ("the total wholesale cost for 60 copies : ",price_firstCopy+price_59Copies)

the total wholesale cost for 60 copies :  945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)